{% extends "userwebsite/base-view.html" %}

{% block body_block %}


<!-- ==========================
  JUMBOTRON - START
=========================== -->
<section class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8">
              <h2>Contact us</h2>
                <h3>If you have any query just message us</h3>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
</section>
<!-- ==========================
  JUMBOTRON - END
=========================== -->

<!-- ==========================
  CONTACT - START
=========================== -->
<section class="content-item grey" id="contact">
  <div class="container">
      <div class="row">

            <div class="col-sm-7">
            <h2>Leave a message</h2>

                <form id="contactForm" method="post">
                    <div class="contact-alert-wrapper"></div>
                    {% csrf_token %}

                    <div class="form-group control-group">
                        <div class="controls">
                            <p class="help-block"></p>
                            {{ form.sender_name }}
                            {{ form.sender_name.errors }}
                        </div>
                    </div>
                    <div class="form-group control-group">
                        <div class="controls">
                            <p class="help-block"></p>
                            {{ form.from_email }}
                            {{ form.from_email.errors }}
                        </div>
                    </div>
                    <div class="form-group control-group">
                        <div class="controls">
                            <p class="help-block"></p>
                            {{ form.subject }}
                            {{ form.subject.errors }}
                        </div>
                    </div>
                    <div class="form-group control-group">
                        <div class="controls">
                            <p class="help-block"></p>
                            {{ form.message }}
                            {{ form.message.errors }}
                        </div>
                    </div>
                    <div class="form-group form-btn">
                        <button type="submit" class="btn btn-normal">Send Message</button>
                    </div>
                </form>

                {% if success_message %}

                  {% if success_message == 1 %}

                    <div class="alert alert-success">
                      Message sent
                    </div>

                  {% else %}
                    <div class="alert alert-danger">
                      Sorry cannot send message
                    </div>
                  {% endif %}

                {% endif %}




            </div>
            <div class="col-sm-5">
                <h2>Contacts</h2>
                <div class="box" id="contacts">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home"></i>Plot 22, Road 10, Block J, Baridhara, Dhaka 1212</li>
                        <li><i class="fa fa-envelope"></i>info@bylc.org</li>
                        <li><i class="fa fa-phone"></i>+880 2 8833519</li>
                        <li><i class="fa fa-globe"></i>www.bylc.org</li>
                    </ul>
                    <h3>Opening hours</h3>
                    <ul class="list-unstyled">
                        <li><b>Sunday-Thursday:</b> 8:30 - 17:30</li>
                        <li><b>Friday:</b> Closed</li>
                        <li><b>Saturday:</b> Closed</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ==========================
  CONTACT - END
=========================== -->


{% endblock  %}
