{% extends "userwebsite/base-view.html" %}

{% block body_block %}

{% load video_controll %}

<!-- ==========================
  JUMBOTRON - START
=========================== -->
<section class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8">
              <h2>{{ data_of_course.name }}</h2>
                <h3>{{ data_of_course.description }}</h3>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
</section>
<!-- ==========================
  JUMBOTRON - END
=========================== -->

<!-- ==========================
  SERVICES - START
=========================== -->
<section class="content-item" id="services">
  <div class="container">
      <div class="content-headline">
          <h2>Lectures List</h2>
            <h3>Tap and watch</h3>
        </div>
      <div class="row">
          <div class="panel-group" id="faq-panel">

            {% for lecture_name in data_of_course.lecture_data.all %}

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a type="button" class="video-btn" data-toggle="modal" data-target="#{{ lecture_name.id }}">
                        Lecture {{ forloop.counter }} - {{ lecture_name.name }}
                      </a>
                    </h4>
                  </div>
                </div>



                <!-- Modal -->
                <div class="modal fade" id="{{ lecture_name.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Lecture {{ forloop.counter }} - {{ lecture_name.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">

                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe width="560" height="315" src="{{ lecture_name.lecture_video_link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>

                        <div class="video-description">
                            <p>{{ lecture_name.description }}</p>
                        </div>

                      </div>
                      <div class="modal-footer">

                        {% comment %}
                          check and disable the previous button for the first element and the next button for the last element
                        {% endcomment %}

                        {% if forloop.counter != 1 %}

                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ lecture_name.id|previousmodal }}" data-dismiss="modal">Previous Video</button>

                        {% endif %}

                        {% if forloop.counter != data_of_course.lecture_data.all.count %}

                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ lecture_name.id|nextmodal }}" data-dismiss="modal">Next Video</button>

                        {% endif %}



                      </div>
                    </div>
                  </div>
                </div>


            {% endfor %}


          </div>
        </div>




    </div>
</section>
<!-- ==========================
  SERVICES - END
=========================== -->




{% endblock  %}
