{% extends "userwebsite/base-view.html" %}

{% block body_block %}

{% load video_controll %}

<!-- ==========================
  JUMBOTRON - START
=========================== -->
<section class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8">
              <h2>{{ data_of_course.name }}</h2>
                <h3>{{ data_of_course.description }}</h3>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
</section>
<!-- ==========================
  JUMBOTRON - END
=========================== -->

<!-- ==========================
  SERVICES - START
=========================== -->
<section class="content-item" id="services">
  <div class="container">
      <!--div class="content-headline">
          <h2>Lectures List</h2>
            <h3>Tap and watch</h3>
        </div-->
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <div class="panel-group" id="faq-panel">

            {% if data_of_course.lecture_data.count > 0 %}


            {% for lecture_name in data_of_course.lecture_data.all %}

                <div class="panel panel-default" style="margin-top: 5px;">

                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a type="button" class="video-btn" data-toggle="modal" data-target="#{{ forloop.counter }}" style="color: #6f6e6e;">
                          <i class="fa fa-caret-square-o-right fa-lg mod-fa-video" aria-hidden="true"></i>&nbsp;&nbsp;
                           {{ lecture_name.name }}

                      </a>
                    </h4>
                  </div>
                </div>



                <!-- Modal -->
                <div class="modal fade" id="{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                          <i class="fa fa-times mod-fa" style="color: #fff; text-shadow: 1px 1px 1px #fff;" aria-hidden="true"></i>
                        </button>
                        <p class="modal-title" id="myModalLabel">Lecture {{ forloop.counter }} <br> {{ lecture_name.name }}</p>
                      </div>
                      <div class="modal-body">

                        <div class="embed-responsive embed-responsive-16by9">
                          <div class="youtube" id="iframe{{ forloop.counter }}" onclick="youtube_player('iframe{{ forloop.counter }}', '{{ lecture_name.lecture_video_link }}')">
                             <div class="play-button"></div>
                          </div>



                        </div>

                        {% if lecture_name.enable_description == True %}
                        <div class="video-description">
                            <h5>Description:</h5>
                            <p id="{{ lecture_name.id }}">{{ lecture_name.description }}</p>
                        </div>
                        {% endif %}



                      </div>
                      <div class="modal-footer">
                        <div class="footer-content">

                          {% comment %}
                            check and disable the previous button for the first element and the next button for the last element
                          {% endcomment %}

                          {% if forloop.counter != 1 %}

                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ forloop.counter|previousmodal }}" data-dismiss="modal">Previous Video</button>

                          {% endif %}

                          {% if forloop.counter != data_of_course.lecture_data.all.count %}

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ forloop.counter|nextmodal }}" data-dismiss="modal">Next Video</button>

                          {% endif %}

                        </div>

                      </div>
                    </div>
                  </div>
                </div>


            {% endfor %}

            {% else %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a type="button" class="video-btn">
                    Sorry, this course has no lecture
                  </a>
                </h4>
              </div>
            </div>

            {% endif %}





          </div>
        </div>
        </div>

    </div>
</section>
<!-- ==========================
  SERVICES - END
=========================== -->




{% endblock  %}
