{% extends "userwebsite/base-view.html" %}

{% block body_block %}

<!-- ==========================
  JUMBOTRON - START
=========================== -->
<section class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8">
              <h2>BYLC Patshala</h2>
                <h3>Learn whatever you want to</h3>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
</section>
<!-- ==========================
  JUMBOTRON - END
=========================== -->

<!-- ==========================
  SERVICES - START value1,kwarg=value2
=========================== -->
<section class="content-item" id="services">
  <div class="container">
      <div class="content-headline">
          <h2>Our Courses</h2>
            <h3>Browse and enjoy our courses</h3>
        </div>
      <div class="row">
          <div class="panel-group" id="faq-panel">

              <!-- FAQ 1 - START -->
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title"><a class="" data-toggle="collapse" data-parent="#faq-panel" href="#faq-1">Questions #1</a></h4>
                  </div>
                  <div id="faq-1" class="panel-collapse collapse">
                      <div class="panel-body">

                            <ul class="inner-courses">
                              <li class="inner-courses-list"><h5><a href="course-detail.html">Course 1</a></h5></li>
                              <li class="inner-courses-list"><h5><a href="#">Course 2</a></h5></li>
                            </ul>
                      </div>
                  </div>
              </div>
              <!-- FAQ 1 - END -->

              <!-- FAQ 2 - START -->
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-2">Questions #2</a></h4>
                  </div>
                  <div id="faq-2" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul class="inner-courses">
                          <li class="inner-courses-list"><h5><a href="#">Course 1</a></h5></li>
                          <li class="inner-courses-list"><h5><a href="#">Course 2</a></h5></li>
                        </ul>
                      </div>
                  </div>
              </div>
            <!-- FAQ 2 - END -->

              <!-- FAQ 3 - START -->
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-3">Questions #3</a></h4>
                  </div>
                  <div id="faq-3" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul class="inner-courses">
                          <li class="inner-courses-list"><h5><a href="#">Course 1</a></h5></li>
                          <li class="inner-courses-list"><h5><a href="#">Course 2</a></h5></li>
                        </ul>
                      </div>
                  </div>
              </div>
            <!-- FAQ 3 - END -->

              <!-- FAQ 4 - START -->
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-4">Questions #4</a></h4>
                  </div>
                  <div id="faq-4" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul class="inner-courses">
                          <li class="inner-courses-list"><h5><a href="#">Course 1</a></h5></li>
                          <li class="inner-courses-list"><h5><a href="#">Course 2</a></h5></li>
                        </ul>
                      </div>
                  </div>
              </div>
            <!-- FAQ 4 - END -->

              <!-- FAQ 5 - START -->
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-5">Questions #5</a></h4>
                  </div>
                  <div id="faq-5" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul class="inner-courses">
                          <li class="inner-courses-list"><h5><a href="#">Course 1</a></h5></li>
                          <li class="inner-courses-list"><h5><a href="#">Course 2</a></h5></li>
                        </ul>
                      </div>
                  </div>
              </div>
            <!-- FAQ 5 - END -->

          </div>
        </div>
    </div>
</section>
<!-- ==========================
  SERVICES - END
=========================== -->


{% endblock  %}
