{% extends "userwebsite/base-view.html" %}

{% block body_block %}

<!-- ==========================
  JUMBOTRON - START
=========================== -->
<section class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8">
              <h2>BYLC Patshala</h2>
                <h3>Learn whatever you want to</h3>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
</section>
<!-- ==========================
  JUMBOTRON - END
=========================== -->

<!-- ==========================
  SERVICES - START value1,kwarg=value2
=========================== -->
<section class="content-item" id="services">
  <div class="container">
      <div class="content-headline">
          <h2>Our Schools</h2>
            <h3>Join any of our School</h3>
        </div>
      <div class="row">
          <div class="panel-group" id="faq-panel">

            {% for school_name in data_of_school %}

                <!-- FAQ 1 - START -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a class="" data-toggle="collapse" data-parent="#faq-panel" href="#{{ school_name.id }}">{{ school_name.name }}</a></h4>
                    </div>
                    <div id="{{ school_name.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                          <ul class="inner-courses">

                            {% if school_name.course_data.exists %}

                              {% for course_name in school_name.course_data.all %}

                                  <li class="inner-courses-list"><h5><a href="{% url 'course_detail_page' course_name.id %}">{{ course_name.name }}</a></h5></li>

                              {% endfor %}

                            {% else %}

                              <li class="inner-courses-list"><h5><a href="#">This school has no class</a></h5></li>

                            {% endif %}


                          </ul>
                        </div>
                    </div>
                </div>
                <!-- FAQ 1 - END -->




            {% endfor %}



          </div>
        </div>
    </div>
</section>
<!-- ==========================
  SERVICES - END
=========================== -->


{% endblock  %}
